body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: black;
    text-align: left;
    padding: 25px;
    }
header h1{
    color: white;
    
}
.main-nav{
    background-color: white;
    height: 70px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}
nav li{
    width: 200px;
    float: left;
    display: block;
    font-size: 24px;
    text-align: left;
    padding: 20px;
}
nav li a{
    text-decoration: none;
    color: #000000;
}
img{
    width: 100%;
    height: auto;
}
article{
    margin: 10px;
}
article h2{
    font-weight: bold;
    text-align: center;
}
article p{
    text-align: center;
    font-size: 16px;
}
.contact{
    margin: auto;
    padding: 20px;

}
footer{    
    background-color: black;
    text-align: left;
    padding: 25px;
    }
footer p{
    color: white;
    font-weight: bold;
    text-align: center;
}

nav li a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 700px){
    nav li{
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 12px;
    }
}

